.Home__container {
  display: flex;
  height: 80vh;
  background-color: black;
  width: 100vw;
}

.Home__container > div {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .Home__container {
    flex-direction: column;
  }

  .Home__container > div {
    min-height: 100vh;
  }
}
